.cell-center {
    border: 2px solid black;
    height: 34px;
    width: 34px;
}

.coordinate-header {
    background-color: SaddleBrown;
    padding-left: 4px;
    padding-right: 4px;
}

.environment-table {
    background-color: ForestGreen;
    font-size: large;
    text-align: center;
}