body {
    background-image:
        url('https://raw.githubusercontent.com/jmthompson2015/vizzini/master/webapp/src/main/resources/yellowGradient.png');
    background-repeat: no-repeat;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    font-size: medium;
}

.cell-bottom {
    border-bottom: 3px solid black;
}

.cell-center {
    border: 3px solid black;
}

.cell-left {
    border-left: 3px solid black;
}

.cell-o {
    color: blue;
}

.cell-right {
    border-right: 3px solid black;
}

.cell-top {
    border-top: 3px solid black;
}

.cell-x {
    color: red;
}

.clear-memory-button {
    text-align: center;
}

#environment {
    text-align: center;
    width: 100%;
}

.environment-table {
    background-color: White;
    border-collapse: collapse;
    font-size: xx-large;
    margin: 0px;
    padding: 0px;
    text-align: center;
    /* These center the table. */
    margin-left: auto;
    margin-right: auto;
}

.game-count-label {
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    font-size: small;
}

#maxCount {
    width: 50px;
}

#memory {
    text-align: center;
    width: 100%;
}

.memory-table {
    /* These center the table. */
    margin-left: auto;
    margin-right: auto;
}

.statistics-cell {
    border: 1px solid darkgreen;
    padding: 3px;
}

.statistics-header-cell {
    background-color: DarkSeaGreen;
    border: 1px solid;
    padding: 3px;
}

.statistics-table {
    background-color: white;
    border: 1px solid;
    border-collapse: collapse;
    font-size: small;
    text-align: center;
    vertical-align: center;
    /* These center the table. */
    margin-left: auto;
    margin-right: auto;
}

#status {
    caption-side: bottom;
    font-size: medium;
    text-align: center;
}

#train {
    text-align: center;
    width: 100%;
}

.train-button {
    text-align: center;
}

.train-table {
    background-color: DarkSeaGreen;
    /* These center the table. */
    margin-left: auto;
    margin-right: auto;
}