.board {
    font-size: xx-large;
    margin: 0px;
    padding: 0px;
}

.cell-top {
    border-top: 3px solid black;
}

.cell-bottom {
    border-bottom: 3px solid black;
}

.cell-left {
    border-left: 3px solid black;
}

.cell-right {
    border-right: 3px solid black;
}

.cell-center {
    border: 3px solid black;
}

.cell-o {
    color: blue;
}

.cell-x {
    color: red;
}

.statistics {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    vertical-align: center;
}

.statistics-cell {
    border: 1px solid black;
}

#status{
    caption-side: bottom;
    font-size: medium;
    text-align: center;
}