body {
    background-image: url('https://rawgit.com/jmthompson2015/vizzini/master/webapp/src/main/resources/yellowGradient.png');
    background-repeat: repeat-y;
    font-family: "San Francisco", "Helvetica Neue", Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

.foodTable tbody tr:nth-child(2n) td {
    background: LightCyan;
}

.foodTable tbody tr:nth-child(2n+1) td {
    background: White;
}

.healthRatingUI tbody tr:nth-child(2n) td {
    background: LightCyan;
}

.healthRatingUI tbody tr:nth-child(2n+1) td {
    background: White;
}

#ALIGN_CENTER, .actionCell, .healthRadio, .alignCenter {
    text-align: center;
}

#ALIGN_LEFT, .textCell, .alignLeft {
    text-align: left;
}

#ALIGN_RIGHT, .foodTable tfoot td, .numberCell, .alignRight {
    text-align: right;
}

#BACKGROUND_DARK, .foodTable tfoot td, .foodTable th, .healthRatingUI th, .backgroundDark {
    background-color: green;
    color: white;
}

#BORDER_DARK, .foodTable td, .healthRatingUI td, .borderDark {
    border: 1px solid green;
}

#BORDER_LIGHT, .foodTable tfoot td, .foodTable th, .healthRatingUI th, .borderLight {
    border: 1px solid lightGray;
}

#FONT_MEDIUM, .expandingContainerTitle, .fontMedium {
    font-size: small;
}

#FONT_SMALL, .foodTable, .healthRatingUI, #rowCount0, #rowCount1, .fontSmall {
    font-size: x-small;
}

#MARGIN_TOP_10, .healthRatingUI, .marginTop10 {
    margin-top: 10px;
}