.dataTable tr:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

.dataTable tr:nth-child(even) {
    background-color: rgb(230, 230, 255);
}

.linksTable tr:nth-child(odd) {
    background-color: transparent;
}

.linksTable tr:nth-child(even) {
    background-color: transparent;
}

.nominationsTable tr:nth-child(odd) {
    background-color: transparent;
}

.nominationsTable tr:nth-child(even) {
    background-color: transparent;
}

#BACKGROUND_DARK, .dataTable th, .backgroundDark {
    background-color: Navy;
    color: White;
}

#BORDER_DARK, .dataTable td, .borderDark {
    border: 1px solid Navy;
}

#BORDER_LIGHT, .dataTable th, .borderLight {
    border: 1px solid rgb(240, 240, 240);
}

#BORDER_NONE, .linksTable td, .nominationsTable td, .borderNone {
    border: 0px solid transparent;
}
