body {
    background-image:
        url(https://rawgit.com/jmthompson2015/vizzini/master/starfightersquadronsweb/src/main/resources/images/SeamlessMetalTextureSmooth.jpg);
    font-family: "San Francisco", "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
}

table {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}

#autopilotPanel, #simulationPanel, #spacecraftStatusPanel {
    vertical-align: top;
}

.autopilotPanel, .simulationPanel, .spacecraftStatusPanel {
    background-color: white;
    font-size: small;
    margin: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
}

.manueverPanel {
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.manueverPanel tr td {
    background-color: #DCDCDC;
}

#messageArea, #timingDisplay {
    background-color: white;
    text-align: left;
}

.numberInput {
    width: 40px;
}

.spacecraftStatusLabel {
    padding: 3px;
    text-align: left;
}

/*
.spacecraftStatusPanel tr td {
    border: 1px solid black;
}
*/
.spacecraftStatusValue {
    padding: 3px;
    text-align: right;
}

.toggle {
    font-size: large;
}

.toggleIsOff {
    background-color: white;
}

.toggleIsOn {
    background-color: red;
}

.viewLabel {
    background-color: lightGray;
    text-align: center;
}