body {
	background-image:
		url('../../../../../coreweb/src/main/resources/yellowGradient.png');
	background-repeat: repeat-y;
	font-family: "San Francisco", "Helvetica Neue", Helvetica, sans-serif;
}

#bodyTable {
	background-color: white;
	border-collapse: collapse;
	font-size: small;
}

#bodyTable tbody tr:nth-child(2n) td {
	background: lightCyan;
}

#bodyTable tbody tr:nth-child(2n+1) td {
	background: white;
}

#bodyTable th {
	background-color: darkgreen;
	border: 1px solid lightGray;
	color: white;
}

#bodyTable td {
	border: 1px solid lightGray;
}

.textCell {
	text-align: left;
	vertical-align: middle;
}

.numberCell {
	text-align: right;
}
