body {
    text-align: center;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    /* These center the table. */
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 1px solid;
    padding: 3px;
}

th {
    background-color: black;
    border: 1px solid;
    color: white;
}