body {
    font-family: "San Francisco", "Helvetica Neue", Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}