body {
    background-image: url('https://rawgit.com/jmthompson2015/vizzini/master/webapp/src/main/resources/yellowGradient.png');
    background-repeat: repeat-y;
    font-family: "San Francisco", "Helvetica Neue", Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

#ALIGN_CENTER, .buttonsPanel, .fitnessCases th, .generationCount, .alignCenter {
    text-align: center;
}

#ALIGN_LEFT, .problemTableau th, .alignLeft {
    text-align: left;
}

#ALIGN_RIGHT, .averageFitness, .fitness, .alignRight {
    text-align: right;
}

#BACKGROUND_DARK, .fitnessCases th, #generationTable th, .problemTableau th, .backgroundDark {
    background-color: DarkSeaGreen;
}

#BORDER_DARK, .fitnessCases th, #generationTable th, .problemTableau th, .borderDark {
    border: 1px solid black;
}

#BORDER_MEDIUM, .fitnessCases td, #generationTable td, .problemTableau td, .borderMedium {
    border: 1px solid DarkSeaGreen;
}

#FONT_SMALL, body, .fontSmall {
    font-size: small;
}

#PADDING_3, .fitnessCases th, .fitnessCases td, #generationTable th, #generationTable td, .problemTableau th,
    .problemTableau td, .padding3 {
    padding: 3px;
}