body {
    background-image:
        url('https://rawgit.com/jmthompson2015/vizzini/master/webapp/src/main/resources/yellowGradient.png');
    background-repeat: no-repeat;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    font-size: small;
}

img {
    vertical-align: middle;
    width: 32px;
}

.inputNumber {
    width: 60px;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    font-size: small;
    text-align: center;
    vertical-align: center;
}

#itemTable {
    background-color: white;
    /* These center the table. */
    margin-left: auto;
    margin-right: auto;
}

table.sortable tbody tr:nth-child(2n) td {
    background: LightCyan;
}

table.sortable tbody tr:nth-child(2n+1) td {
    background: White;
}

td {
    border: 1px solid darkgreen;
    padding: 3px;
}

th {
    background-color: DarkSeaGreen;
    border: 1px solid;
    padding: 3px;
}