body {
    background-image: url('../../../../webapp/src/main/resources/yellowGradient.png');
    background-repeat: repeat-y;
    font-family: "San Francisco", "Helvetica Neue", Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

.commentContainer {
    padding-top: 20px;
}

.computerTable {
    border: 2px solid black;
    font-size: x-small;
}

.computerTable th {
    background-color: green;
    border: 1px solid lightGray;
    color: white;
}

.computerTable td {
    border: 1px solid black;
}

.computerTable tfoot {
    background-color: lightGray;
    border: 2px solid black;
}

.footNumberCell {
    color: blue;
    font-size: small;
    font-weight: bold;
    text-align: right;
}

.footTextCell {
    color: blue;
    font-size: small;
    font-weight: bold;
}

.numberCell {
    text-align: right;
}