.maneuverTable {
    background-color: black;
    border-collapse: collapse;
    color: white;
    display: block;
    margin: 2px;
    padding: 0px;
    text-align: center;
}

.maneuverTable td {
    border: 2px solid rgb(191, 191, 191);
    width: 16px;
}

#pilotName, #shipName {
    background-color: white;
    color: black;
    font-size: small;
}

.highlight {
    background-color: lightGray;
}