.newGamePanel {
    background-color: #F0F0F0;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}

.newGameTitle {
    background-color: lightGray;
}

.agentPanel {
    text-align: left;
}

.agentTitle {
    font-weight: bold;
    text-align: center;
}

.squadBuilderPanel {
    font-size: small;
    padding: 5px;
    text-align: left;
}

.newGameOk {
    vertical-align: bottom;
}