.optionPane {
    background-color: #F0F0F0;
    border: 1px solid lightGray;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}

.optionPaneTitle {
    background-color: lightGray;
    text-align: center;
}

.optionPaneMessage {
    padding: 5px;
}

.optionPaneInput {
    font-size: small;
    margin-left: 10px;
    text-align: left;
}

.optionPaneButtons {
    padding-bottom: 5px;
    padding-right: 5px;
    text-align: right;
}