.pilotCard {
    background-color: #555555;
    display: table;
    font-size: small;
    width: 100%;
}

.nameTable {
    width: 100%;
}

.namePanel {
    background-color: #F0F0F0;
    border: 1px solid black;
}

.pilotSkillValue {
    background-color: #555555;
    color: #FF7F00;
}

.primaryWeaponValue {
    color: red;
}

.agilityValue {
    color: rgb(127, 191, 127);
}

.hullValue {
    color: yellow;
}

.shieldValue {
    color: rgb(127, 191, 255);
}

.damagePanel {
    margin: 0px;
    padding: 0px;
}

.damageTable {
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    text-align: center;
    vertical-align: center;
}

.statsTable {
    margin-left: auto;
    margin-right: auto;
}

.tokensPanel {
    background-color: lightGray;
    font-size: 0;
    width: 100%;
}

.tokensTable {
    margin-left: auto;
    margin-right: auto;
}

.countTokenBox {
    background-repeat: no-repeat;
    height: 32px;
}

.countTokenText {
    color: white;
    font-size: medium;
    margin: 0px;
    padding: 6px 0 0 0;
    text-align: center;
}
