.shipActionPanel {
    border: 2px solid black;
}

#shipActionTable {
    margin: 5px;
    text-align: left;
}

.shipActionCell {
    text-align: left;
}

.shipActionOk {
    vertical-align: bottom;
}