body {
    background-image:
        url(https://rawgit.com/jmthompson2015/vizzini/master/starfightersquadronsweb/src/main/resources/images/SeamlessMetalTextureSmooth.jpg);
    font-family: "San Francisco", "Helvetica Neue", Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}

.hidden {
    display: none;
}

#ALIGN_BOTTOM, .newGameOk, .alignBottom {
    vertical-align: bottom;
}

#ALIGN_LEFT, .agentPanel, .combatChoicePanel, .defenderChoice, .optionPaneInput, .squadBuilderPanel, .squadChooserPanel,
    .squadBuilderUpgradeCell, .squadUIPilotName, .squadUIRemove, .upgradeCardUIImage, .alignLeft {
    text-align: left;
}

#ALIGN_MIDDLE, .factionUIImage, .shipActionUIImage, .shipSilhouetteUIImage, .shipStateUIImage, .upgradeCardUIImage,
    .upgradeTypeUIImage, .alignMiddle {
    vertical-align: middle;
}

#ALIGN_RIGHT, .optionPaneButtons, .pilotCardUISquadPointCost, .pilotChooserValue, .upgradeCardUISquadPoints, .alignRight
    {
    text-align: right;
}

#ALIGN_TOP, #firstPilots, #inputArea, .newGamePanel, .pilotChooserCell, .planningTableCell, #playArea, .optionPane,
    #secondPilots, .upgradesUICell, .alignTop {
    vertical-align: top;
}

#BACKGROUND_BLACK, .maneuverTable, .backgroundBlack {
    background-color: black;
}

#BACKGROUND_DARK, .pilotCard, .squadUI tr th, .upgradeCardUIRanges, .upgradeCardUIWeaponValue, .backgroundDark {
    background-color: #555555;
}

#BACKGROUND_LIGHT, #helpLink, #messageArea, .namePanel, .newGamePanel, .optionPane, .pilotCardUIDescription,
    .pilotCardUIShipActions, .shipActionPanelCell, .pilotCardUISquadPointCost, .pilotChooser, #pilotName, #shipName,
    .squadChooser, .squadUI, #ssPanel, .upgradeCardUI, .backgroundLight {
    background-color: #F0F0F0;
}

#BACKGROUND_MEDIUM, .highlight, .newGameTitle, .optionPaneTitle, .rangeLabel, .squadUISum, .tokensPanel,
    .backgroundMedium {
    background-color: lightGray;
}

#BACKGROUND_NO_REPEAT, .backgroundNoRepeat {
    background-repeat: no-repeat;
}

#BORDER_BLACK, .namePanel, .newGamePanel, .squadUI tr td, .squadUI tr th, .upgradeCardUI, .upgradeCardUIName,
    .upgradeCardUIRanges, .upgradeCardUIWeaponValue, .borderBlack {
    border: 1px solid black;
}

#BORDER_LIGHT, .pilotCardUIUpgrades, .borderLight {
    border: 1px solid #F0F0F0;
}

#BORDER_MEDIUM, .maneuverCell, .maneuverTable, .optionPane, .borderMedium {
    border: 1px solid lightGray;
}

#CENTER, .agentTitle, .combatDicePanel, .combatMessage, .combatPanel, .maneuverTable, .newGamePanel, .optionPane,
    .optionPaneTitle, .rangesCell, .squadBuilderAdd, .statsTable, .tokensTable, .center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#COLOR_BLACK, .damageImageText, #pilotName, #shipName, .colorBlack {
    color: black;
}

#COLOR_CYAN, .shieldValue, .colorCyan {
    color: rgb(127, 191, 255);
}

#COLOR_GREEN, .agilityValue, .colorGreen {
    color: rgb(127, 191, 127);
}

#COLOR_ORANGE, .pilotSkillValue, .colorOrange {
    color: #FF7F00;
}

#COLOR_RED, .primaryWeaponValue, .upgradeCardUIWeaponValue, .colorRed {
    color: red;
}

#COLOR_WHITE, .labelImageText, .maneuverTable, .squadUI tr th, .upgradeCardUIRanges, .colorWhite {
    color: white;
}

#COLOR_YELLOW, .hullValue, .colorYellow {
    color: yellow;
}

#FONT_BOLD, .agentTitle, .damageImageText, .upgradeCardUIHeader, .fontBold {
    font-weight: bold;
}

#FONT_ITALIC, .flavorText, .fontItalic {
    font-style: italic;
}

#FONT_MEDIUM, .damageImageText, .labelImageText, .pilotSkillValue, .fontMedium {
    font-size: medium;
}

#FONT_SMALL, .combatChoicePanel, .combatTable, .optionPaneInput, .pilotCard, .pilotChooserLabel, #pilotName, #shipName,
    .squadBuilderPanel, .squadChooserPanel, .squadUI, .upgradeCardUI, .fontSmall {
    font-size: small;
}

#HEIGHT_32, .height32 {
    height: 32px;
}

#MARGIN_AUTO, .pilotCardUIShipActions, .pilotCardUIUpgrades, .pilotChooserFilter, .marginAuto {
    margin-left: auto;
    margin-right: auto;
}

#MARGIN_LEFT_10, .optionPaneInput, .marginLeft10 {
    margin-left: 10px;
}

#MARGIN_NONE, #firstPilots, #secondPilots, .marginNone {
    margin: 0px;
}

#PADDING_1, #firstPilots, #secondPilots, .padding1 {
    padding: 1px;
}

#PADDING_2, .squadUI tr th, .squadUI tr td, .padding2 {
    padding: 2px;
}

#PADDING_5, .combatMessage, .optionPaneMessage, .squadBuilderPanel, .squadChooserPanel, .padding5 {
    padding: 5px;
}

#PADDING_BOTTOM_5, .optionPaneButtons, .paddingBottom5 {
    padding-bottom: 5px;
}

#PADDING_RIGHT_5, .optionPaneButtons, .paddingRight5 {
    padding-right: 5px;
}

#PADDING_NONE, .maneuverTable, .paddingNone {
    padding: 0px;
}

#PADDING_TOP_20, #squadPanel, .paddingTop20 {
    padding-top: 20px;
}

#WIDTH_16, .maneuverCell, .width16 {
    width: 16px;
}

#WIDTH_FULL, #mainTable, .nameTable, .pilotCardUIUpgradeCell, .pilotCardUIUpgradeSquadCost, .pilotCardUITokensDamage,
    .squadBuilderAdd, .tokensPanel, .widthFull {
    width: 100%;
}

#WIDTH_HALF, .pilotChooserCell, .upgradesUICell, .widthHalf {
    width: 50%;
}