body {
    background-image:
        url(https://rawgit.com/jmthompson2015/vizzini/master/starfightersquadronsweb/src/main/resources/images/SeamlessMetalTextureSmooth.jpg);
    font-family: sans-serif;
}

.dialog {
    border: 2px solid black;
    width: auto;
}

.hidden {
    display: none;
}

#imperialPilots {
    margin: 0px;
    padding: 1px;
    vertical-align: top;
}

#inputArea {
    vertical-align: top;
}

#messageArea {
    background-color: #F0F0F0;
}

.planningOk {
    vertical-align: bottom;
}

#playArea {
    vertical-align: top;
}

#rebelPilots {
    margin: 0px;
    padding: 1px;
    vertical-align: top;
}

#ssPanel {
    background-color: #F0F0F0;
}

table {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: center;
}